<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light _navbar">
  <a class="navbar-brand" href="#">Interactive Map</a>
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item fav-selection">
        <form novalidate [formGroup]="favForm">
          <div class="data-filter-group-selection">
            <button class="btn btn-outline-secondary btn-sm data-filter-group-btn" (click)="toggleFavSelection($event)">
              <span>{{ selectedOption?.name || 'Select Favourite'}}</span>
              <span>
                <img src="assets/icons/arrow-down.png" alt="">
              </span>
            </button>
            <div class="data-filter-group-panel" *ngIf="showFavList">
              <div class="panel-body data-filter-group-panel-body">
                <input type="search" class="form-control form-control-sm" placeholder="Search" formControlName="querystring">
                <ul class="data-filter-group-list" *ngIf="!(isFavouritesLoading$ | async)">
                  <li *ngFor="let item of favourites$ | async">
                    <a (click)="setSelectedFav(item, $event)">{{ item.name }}</a>
                  </li>
                  <li *ngIf="!(favourites$ | async).length">Not Favourite found</li>
                </ul>
                <ul class="data-filter-group-list" *ngIf="isFavouritesLoading$ | async">
                  <li>Loading...</li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
<app-map [vizObject]="vizObject$ | async" *ngIf="(vizObject$ | async)"></app-map>
<div class="_container__holder" id="mapid" *ngIf="!(vizObject$ | async)"></div>
<app-loader *ngIf="(isVisualizationLoading$ | async)"></app-loader>